<h1>

  <h1>Gallery</h1>
  {{#each collection}}
  <label for="id">I.D.:{{id}} </label>
  <p>Author : {{author}}</p>

  <img src="{{link}}" alt="error">

  <p>Description : {{description}}</p>
  <a href="/gallery/{{id}}/edit">Edit</a>
  {{/each}}
</h1>